@import "lib/bootstrap/bootstrap.less";

/**
 * Configure fonts
 */
@font-face {
    font-family: 'OptimusPrincepsRegular';
    src: url('../img/fonts/optimusprinceps-webfont.eot');
    src: url('../img/fonts/optimusprinceps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../img/fonts/optimusprinceps-webfont.woff') format('woff'),
         url('../img/fonts/optimusprinceps-webfont.ttf') format('truetype'),
         url('../img/fonts/optimusprinceps-webfont.svg#OptimusPrincepsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OptimusPrincepsSemiBoldRg';
    src: url('../img/fonts/optimusprincepssemibold-webfont.eot');
    src: url('../img/fonts/optimusprincepssemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../img/fonts/optimusprincepssemibold-webfont.woff') format('woff'),
         url('../img/fonts/optimusprincepssemibold-webfont.ttf') format('truetype'),
         url('../img/fonts/optimusprincepssemibold-webfont.svg#OptimusPrincepsSemiBoldRg') format('svg');
    font-weight: normal;
    font-style: normal;
} 

/*
 * Page elems
 */
body { padding-top:50px; }

#title {
    font-family: 'OptimusPrincepsRegular';
    font-size: 144px;
}

.brand {
    font-family: 'OptimusPrincepsSemiBoldRg';
    font-size: 24px;
}

.main-view {
    overflow:hidden;
}

#page-footer-container {
    height: 100px;
}

#empty-booklist-message {
    text-align: center;   
}
/*
 * Modals
 */
#confirmation-modal {
    
}

#confirmation-modal > .modal-body > p > span.title {
    font-weight: 800;
}

/*
* Bookist items
*/
#booklist-view .navbar .nav > li > a {
    color: @grayLighter;
}

#booklist-view .navbar .nav > li > a:hover {
    color: @white;
    background-color: @blue;
}

#booklist-view .navbar-inner {
  #gradient > .vertical(@blue, @blueDark);
}

#booklist-view .navbar-search {
    .search-query {
        background-color: @grayLighter;
        
        &:focus,
        &.focused {
            background-color: @white;
        }
    }
}

#booklist {
    overflow:hidden;
    position:relative;
}

#booklist > .booklist-page {
    float:left;
    overflow: auto;
}

.booklist-item {
    margin: 4px;
    width: 285px;
    float: left;
    background-color:@grayLighter; 
    overflow:hidden;
    padding: 10px;
    margin-bottom: 10px;
    .border-radius(5px);
    .box-shadow(0 0 3px lighten(@gray, 20%));
}

.booklist-item > div {
    float:left
}

.booklist-item > .booklet-image {
  margin-right: 10px;
  height: 60px;
}

.booklist-item > .data-container {
    width: 193px;
    margin-right: 10px
}

.booklist-item > .toolkit-container {
}

.booklist-item > .toolkit-container > .icon {
    margin-bottom: 5px;
}

#add-book-modal > form {
    margin: 0px;
}

#add-book-modal p {
    display:none;
}

#add-book-modal .error p {
    display: block;
}