  <div class="navbar">
    <div class="navbar-inner">
<div class="container">
  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>

  <a class="brand">A booklist</a>
  
  <ul class="nav">
    <li>
      <a href="#add-book-modal" data-toggle="modal">Add new book</a>
    </li> <!-- add new book -->
    
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">View<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="nav-header">Books per page</li>
        <li class="booklist-view-per-page" data-per-page="9"><a href="#">9</a></li>
        <li class="booklist-view-per-page" data-per-page="18"><a href="#">18</a></li>
        <li class="booklist-view-per-page" data-per-page="36"><a href="#">36</a></li>
        <li class="divider"></li>
        <li class="nav-header">Sort by</li>
        <li><a href="#">Title</a></li>
        <li><a href="#">Author</a></li>
      </ul>
    </li> <!-- view options -->
  </ul> 
  
  <form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search">
  </form>
  
</div> <!-- container -->
    </div> <!-- navbar-inner -->
  </div> <!-- navbar -->
