<!-- add list modal -->    
<div id="add-booklist-modal" class="modal hide fade">
    <div class="modal-header">              
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>Add new booklist</h3>
   </div> <!-- modal-header -->

    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group" id="add-booklist-modal-input">
                    <label for="add-booklist-modal-input" class="control-label">New booklist name</label>
                    <div class="controls" >
                        <input type="text" class="input-xlarge" placeholder="Type the name here..." name="booklist_name">
                        <p class="help-block hide" id="add-booklist-modal-success">Success</p>
                        <p class="help-block hide" id="add-booklist-modal-error">Error!</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div> <!-- modal body -->

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        <button id="add-booklist-modal-add-button" class="btn btn-primary" data-loading-text="loading...">Add booklist</button>
    </div><!-- modal footer -->
</div><!-- modal -->
