<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/ook.css" />
  <title>Ook</title>
</head>

<body>
    {% block head %}
      {% include "home_add_booklist_modal.html" %}
      {% include "home_navbar.html" %}
      {% include "confirmation_modal.html" %}
    {% endblock %}

    <div class="container" id="main-container">
    {% block pages %}
      {% include "booklist.html" %}
    {% endblock %}
    </div>
    
    <div class="container" id="page-footer-container">
      <hr>
      <footer>
        test
      </footer>
    </div>
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster (libraries) -->
    <script>
      <!-- le init -->
      {% autoescape off %}
        initial_booklist_data = {{ initial_data }}
      {% endautoescape %}
      
    </script>
    <script data-main="{{ MEDIA_URL }}/js/main" src="{{ MEDIA_URL }}/js/lib/require/require.js"></script>
</body>
</html>
