<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/ook.css" />
  <title>Ook</title>
</head>

<body>
    {% block head %}
      {% include "home_add_booklist_modal.html" %}
      {% include "home_navbar.html" %}
      {% include "confirmation_modal.html" %}
    {% endblock %}

    {% block pages %}
      {% include "booklist.html" %}
    {% endblock %}
    
    <div class="container" id="page-footer-container">
      <hr>
      <footer>
        test
      </footer>
    </div>
      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster (libraries) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ MEDIA_URL }}/js/jquery.cookie.js"></script>
    <script src="{{ MEDIA_URL }}/js/json2.js"></script>
    <script src="{{ MEDIA_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ MEDIA_URL }}/js/hogan-2.0.0.js"></script>
    <script src="{{ MEDIA_URL }}/js/sprintf.js"></script>
    
    <!-- Application js -->
    <script src="{{ MEDIA_URL }}/js/templates.js"></script>
    <script src="{{ MEDIA_URL }}/js/ook.js"></script>
</body>
</html>
